@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <style>
        #notice-message{
            padding:25px;        
        }

        #notice {
            display: flex;
        }

        #notice > img {
            width: 100px;
            height: auto;
            margin-block: auto;
            margin-right: 15px;
        }
    </style>
</head>
<div id="notice">
    <img src="/img/MicrosoftTeams-image (2).png" />
    <p id="notice-message">メッセージが届きました</p>
</div>

<hr />