html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* margin-bottom: 60px;*/
}

body {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #eee;
    color: #333;
}

.main-title {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------ */
/* フッター */
/* ------------------ */
/* メニューをページ下部に固定 */
#fixed-footer-menu {
    position: fixed;
    width: 100%;
    bottom: 0px;
    opacity: 1;
    z-index: 100;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

    /* メニューを横並びにする */
    #fixed-footer-menu ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        background: #fff;
    }

    /* メニューの要素 */
    #fixed-footer-menu li {
        justify-content: center;
        align-items: center;
        width: 20%; /* 要素が5つの場合（100/5） */
        padding: 0;
        margin: 0;
    }

        /* メニューのボタン */
        #fixed-footer-menu li a {
            color: #333;
            text-align: center;
            display: block;
            width: 100%;
            padding: 15px 0px 0px 0px;
            font-size: 8px;
            text-decoration: none;
        }

        /* メニュータイトル */
        #fixed-footer-menu li p {
            font-size: 8px; /* メニュータイトルのフォントサイズ */
            margin-bottom:1.5rem;
        }

/* アイコンのサイズを調整 */
.footer-icon {
    font-size: 20px;
}